Source: sci-netrules-copy
Section: debian-installer
Priority: standard
Maintainer: Dmitry Chernyak <dmi@skycover.ru>
Build-Depends: debhelper (>> 4.2), cdbs
Standards-Version: 3.7.2.1

Package: sci-netrules-copy
XC-Package-Type: udeb
Architecture: all
XB-Installer-Menu-Item: 4100
Description: Create 70-persistent-net.rules and copy it to target system
