#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

install/sci-netrules-copy::
	dh_installdebconf
	install -o root -g root -m 0755 75sci-udev-netrules debian/$(cdbs_curpkg)/usr/lib/finish-install.d/
