qemu-test.hda.img
qemu-test.hdb.img
images
tmp
usbkey
local
gplpv
gitsrc
src/chose-partman-recipe/debian/chose-partman-recipe.debhelper.log
src/chose-partman-recipe/debian
src/chose-partman-recipe_0.1_amd64.buildinfo
src/sci-finish-install/debian
src/sci-finish-install/debian/sci-finish-install.debhelper.log
src/sci-finish-install_0.1_amd64.buildinfo
src/sci-netrules-copy_0.1_amd64.buildinfo
src/sci-netrules-copy/debian
src/sci-netrules-copy/debian/sci-netrules-copy.debhelper.log
src/sci-udev-netrules_0.1_amd64.buildinfo
